.App {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.Tarjeta {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.col-4 {
  width: 15%;
  margin-bottom: 20px;
}

.container {
  width: 80%;
  margin: 0 auto;

}

.rowcv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cb {
  clear: both;
}
